@{
    ViewBag.Title = "Home Page";

    var username = Request["Username"];
}

<div style="padding: 10px" class="row">
    <img src="~/Content/Images/github-logo.png" />
</div>

<div style="padding: 10px" class="row">
    <form asp-controller="User" action="/User" method="post" class="form-horizontal" role="form">
        <div class="form-group" style="margin-left:10px">
            <h3>Enter GitHub Username: </h3>
            <input name="Username" class="form-control" placeholder="Enter Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <div class="form-control-static"><input class="btn btn-success" type="submit" value="Search"/></div>
        </div>
    </form>
</div>